# Dependencies
node_modules/

# Production build
.next/
out/

# Testing
coverage/
playwright-report/
test-results/

# Cache
.swc/

# Version control
.git/

# Documentation
DOCUMENTATION.md

# Misc
.DS_Store
*.pem

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml 